@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #E6E7ED;
}

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
.btn-3d-inside, .btn-3d-full, .icon-3d-inside{
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
}
.btn-3d-full {
  box-shadow: 2px 2px 8px #b8b9be, -3px -3px 8px #fff;
  border: 1px solid #d1d9e6;
}
.icon-3d-inside {
  padding: 0.35rem;
  border-radius: 1.1rem;
}
.btn-3d-inside:hover, .btn-3d-full:hover, .icon-3d-inside:hover {
  box-shadow: inset 1px 1px 3px #bfc0c5, inset -2px -2px 7px #ffffff;
}

@layer utilities {
  .btn-3d-full {
    box-shadow: 2px 2px 8px #333, -3px -3px 8px #444;
    border: 1px solid #444;
  }
  .btn-3d-inside:hover, .btn-3d-full:hover, .icon-3d-inside:hover {
    box-shadow: inset 1px 1px 3px #09090b, inset -2px -2px 7px #27272a;
  }
}